/* der er ikke lagt fokus på udssendet af hjemmesiden i dette system. Derfor har jeg til flere af siderne benyttet samme CSS som min studiegruppe.*/

.container {
    display: block;
    float: left;
    padding: 100px 5%;
}


.addALikeBtn {
    display: inline-block;
    margin-left: 10%;
    margin-top: 5px;
    color: white;
    background-color: lightgreen;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    width: 100%;
    height: 20%;
}

.disLikeBtn {
    display: inline-block;
    margin-left: 10%;
    margin-top: 5px;
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    width: 100%;
    height: 20%;
}




/*CSS til topbaren */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: darkred;
}

.logo {
    color: rgb(226, 226, 226);
    letter-spacing: 3px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.findLove {
    padding: 2px;
    background-color: red;
    
}