/* der er ikke lagt fokus på udssendet af hjemmesiden i dette system. Derfor har jeg til flere af siderne benyttet samme CSS som min studiegruppe.*/

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

#errorMessages {
    color: red;
    font-size: 80%;
    padding: 20px;
}

#signInButton {
    width: 30%;
    height: 25%;
    margin: auto;
}

#sign-up{
    text-align: center;
}

.registerbtn {
    background-color: rgb(66, 65, 65);
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
#signUpButton {
    width: 30%;
    height: 25%;
    margin: auto;
}

img{
        padding: 100px;
        width: 80%;
        display: block;
        margin-left: auto; 
        margin-right: auto;
}

h1 {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 25px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}







/* Input fields */
input[type=text] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* user information */
.userinformation{
    flex: 1;
    display: inline-block;
    width: 50%;
}









/* CSS til topbar */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: darkred;
}

.logo {
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.findLove {
    padding: 2px;
    background-color: red;
    
}