<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles.css" rel="stylesheet">
    <title>Dating App</title>


</head>
<body>
    <nav>
        <div class="logo">
            <a href="userProfile.html" > <h4>Dating</h4></a>
        </div>
        <ul class="nav-links">
            <li>
                <a href="signIn.html">Login</a> 
            </li>
            <li>
                <a href="signUp.html">Create User</a> 
            </li>
            <li>
                <a href="userProfile.html">My Profil</a> 
            </li>
            <li>
                <a href="matches.html">Matches</a> 
            </li>
            <li>
                <a href="myMatches.html">My Matches</a> 
    
        </ul>

    </nav>

<!-- bruger oplysninger -->
<h1> My Account </h1>

<div>
    <p id="showUsername">Du er logget ind som: </p>

</div>

<div class = "user">
    <div class="userinformation">
        <h2> User Information</h2>
        <br/>
        <br/>

        Username
        <br/>
        <input  type="text" id="editUsername" value="">
        <br/>

        <br/>
        Phone
        <br/>
        <input type="text" id="editPhone" value="">
        <br/>
        <br/>

        City
        <br/>
        <input type="text" id="editCity" value="">
        <br/>
        <br/>

        Zip
        <br/>
        <input type="text" id="editZip" value="">
        <br/>
        <br/>

        Address
        <br/>
        <input type="text" id="editAddress" value="">
        <br/>
        <br/>

        E-mail
        <br/>
        <input type="text" id="editEmail" value="">
        <br/>

        Password
        <br/>
        <input type="text" id="editPassword" value="">
        <br>

        <div class="editUser">
            <button id="edit" type="button">Update user information</button>
        </div>

    </div>
<br>
<br>

<!-- ordredata 
    <div id="matchHistory">
        <h3> Matches </h3>
        <br/>

    </div>
</div-->

<!--div class="delete-account">
    <button id="deleteBtn" class="btn-delete" type="button">Delete your account</button>
</div-->

<div id="logOutButton">
    <button id="logOutBtn" type="button" class="logOutbtn" > Log Out </button>
</div>
<br>
<br>




<!-- linker til JavaScript filerne 
bruger vi rent faktisk alle disse links??-->
<script src="../controller/myProfile/editProfile.js"> </script>
<script src="../controller/myProfile/logOut.js"> </script>
<script src="../controller/signUp_signIn/signIn.js"> </script>

</body>
</html>